@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

body {
  background-color: dimgray;
}
header {
  text-align: center;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
}
.gamer {
  display: inline-block;
  margin: 15px;
}
#newformdiv {
  margin-top:10px;
  margin-left: 15px;
}
#newformdiv label {
  display: inline-block;
  width: 110px;
  text-align: right;
}
#userinfo {
  font-weight: bold;
  text-align: center;
}
.about {
  text-align: center;
}
