@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
body {
  background-color: #f0f0f0;
  font-family: roboto;
}
.container1 {
  width: 400px;
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;

  }


  .container1:hover .avatar-flip img:first-child {
    opacity: 0;
  }
  .container1:hover .avatar-flip img:last-child {
    opacity: 1;
  }
  .avatar-flip {
    border-radius: 100px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: 2px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 13px #f0f0f0;
    -webkit-box-shadow: 0 0 0 13px #f0f0f0;
    -moz-box-shadow: 0 0 0 13px #f0f0f0;
  }
  .avatar-flip img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
  }
  .avatar-flip img:first-child {
    z-index: 1;
  }
  .avatar-flip img:last-child {
    z-index: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    opacity: 0;
  }



  #profileh1, #profileh2{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
#profileh4 {
    font-size: 13px;
    color: #00baff;
    letter-spacing: 1px;
    margin-bottom: 10px
  }

.button {
    display: inline-block;

    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;

    border: none;
    outline: none;
  }
  .comment-form-textarea{
    color: black;

    border-radius: solid black 20px
  }

  .comment-form-button{
    display: inline-block;
    padding: 2px 4px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #999;
  }

  .comment-form-button:hover {background-color: #3e8e41}

  .comment-form-button:active {
    background-color: #3e8e41;
    box-shadow: 0 15px #666;
    transform: translateY(4px);
  }

  .comments-container{
    font-size: 20px;
    text-align: center; 
    font-family: "Times New Roman", Times, serif;
  }